.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 5vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

textarea {
  width: 100vh;
  height: 10vh;
  font-size: 3vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

li:hover{
  background-color: #fff;
  color: orangered;
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
